/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

/* Configuração Geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #6d2358;
}

/* Header */

header {
  display: flex;
  background-color: #562f72;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  transition: 0.3s; 
}

.logo:hover {
  filter: brightness(0.6);
  border-left: 5px solid #3C3C58;
  padding-left: 10px;
}

.links-pagina {
  display: flex;
}

.links-pagina a {
  margin-right: 30px;
  padding-bottom: 5px;
  font-size: 25px;
  transition: 0.3s;
}

.links-pagina a:hover {
  filter: brightness(0.6);
  border-bottom: 3px solid #3C3C58;
  border-radius: 20px;
  padding: 5px;
}

.links-pagina a:nth-child(2) {
  filter: brightness(0.6);
  border-left: 3px solid #3C3C58;
  border-bottom: 3px solid #3C3C58;
  border-radius: 20px;
  padding: 5px;
}

header a {
  color: white;
}

/* Main */

main {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  margin-inline: 10px;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  min-height: 150vh;
}

h2 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  color: #562f72;
  margin-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
  color: #3C3C58;
}

/* Main-Container */
.main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #d4e6e2;
}

.main-image {
  width: 100%;
  display: inline-block;
  border-bottom: 3px solid #562f72;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.main-image img {
  width: 100%;
}

.main-text {
  display: flex;
  width: 100%;
  text-align: justify;
  padding-left: 20px;
}

.main-text h3 {
  display: inline-block;
  font-size: 30px;
  border-left: 3px solid #3C3C58;
  color: #562f72;
  padding-left: 8px;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.main-text div {
  display: flex;
  flex-grow: 1;
  margin-bottom: 40px;
  text-align: center;
}

.main-text span, .main-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

/* Second-Container */

.second-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.second-container h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.second-container p {
  font-size: 15px;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.adicionais {
  margin-bottom: 20px;
  width: 30%;
  flex-grow: 1;
}

.adicionais img {
  margin-bottom: 10px;
}

.adicionais h4 {
  color: #562f72;
}

.adicionais p {
  display: inline-block;
  width: 80%;
  text-align: center;
  color: #3C3C58;
}

/* Footer */

footer {
  display: block;
  background-color: #562f72;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

footer p {
  color: white;
  font-size: 20px;
}